# Ignore node_modules in the frontend library
frontend/node_modules/
frontend/.env

# Ignore everything in the backend library except for the src directory
backend/bin/
backend/include/
backend/lib/
backend/share/
backend/src/.env
backend/pyvenv.cfg


agentSrc/